[submodule "plugins/hoewerkt"]
	path = plugins/hoewerkt
	url = http://git.werkmanrooster.nl/werkmanrooster/hoewerkt.git
[submodule "plugins/docs"]
	path = plugins/docs
	url = http://git.werkmanrooster.nl/werkmanrooster/docs.git
