//- Advert

if !app.locals.time.duringSchool()
  #close X
  a(href="http://werkmanbijles.nl", target="_blank")
    .bijles
      h1 WerkmanBijles
      sup.
        Bijlessen in alle vakken voor alle niveaus<br>
        Klik op de banner voor onze website!
