html
  head
    title Werkmanrooster
    link(rel="stylesheet", href="/css/skeleton.css", type="text/css")
    link(rel="stylesheet", href="/css/style.css", type="text/css")
    script(type="text/javascript", src="http://code.jquery.com/jquery-1.11.3.min.js")
    script(type="text/javascript", src="/js/script.js")
    
  body
    div.bar
    
    h1#title(class=!url ? 'big' : '') Werkmanrooster
      span V
        span 5
