include header

div.homepage
  input.search(type="text", name="searchterm", placeholder="Je naam, id, klassennaam, docentencode, lokaalcode")
  button.search Zoeken
  
  div=JSON.stringify(headers, null, 2)
  
include links
