include header
  
body
  div.bar
  
  div.homepage
    h1 Werkmanrooster 
      span V
        span 5
    
    input#search(type="text", name="searchterm", placeholder="Je naam, id, klassennaam, docentencode, lokaalcode")
    button Zoeken
