//- login.jade
include header

.notice Er is momenteel een probleem met de manier waarop magister zich gedraagd. Inloggen gaat momenteel nogal moelijk, ook al is het proberen waard.

.login
  form(action="/login", method="post")
    div
      label Gebruikersnaam
      input(type="text", name="username")
    div
      label Wachtwoord
      input(type="password", name="password")
    div
      input(type="submit", value="Log In").button-primary

include linkbar
