//- search.jade
input.search(type="text", name="searchterm", placeholder="Je naam, id, klassennaam, docentencode, lokaalcode", value=match ? ((match.first_name || match.name) + '\'s rooster') : '')
button.search Zoeken
