//style.less
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,400');

.homepage {
  text-align: center;

  h1 {
    font-size: 8rem;
    font-family: Open Sans;
    letter-spacing: 0px;
  }

  span {
    font-size: 2rem;
    letter-spacing: -2px;
    position: relative;
    left: -35px;

     > span {
       color: #96AA48;
       position: relative;
       left: -2px;
       top: 1px;
       display: inline-block;
       -webkit-transform: rotate(15deg);
    }
  }

  input {
    width: 50%;
  }

  button {
    display: block;
    margin: 0 auto;
    width: 50%;
  }

}

.bar {
  height: 10px;
  width: 100%;
  background-color: #96aa48;
  margin-bottom: 50px;
}
