//- not_found.jade
include header
h6.container.center.notfound Er is geen #{path.split('/')[1]} gevonden met je zoekopdracht, kijk je zoekopdracht nog even goed na en probeer het nog eens.
include search
